In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("customer_churn_data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5880 entries, 0 to 5879
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5880 non-null   object
 1   gender            5880 non-null   object
 2   SeniorCitizen     5880 non-null   int64
 3   Partner           5880 non-null   object
 4   Dependents        5880 non-null   object
 5   tenure            5880 non-null   int64
 6   PhoneService      5880 non-null   object
 7   MultipleLines     5880 non-null   object
 8   InternetService   5880 non-null   object
 9   OnlineSecurity    5880 non-null   object
 10  OnlineBackup      5880 non-null   object
 11  DeviceProtection  5880 non-null   object
 12  TechSupport       5880 non-null   object
 13  StreamingTV       5880 non-null   object
 14  StreamingMovies   5880 non-null   object
 15  Contract          5880 non-null   object
 16  PaperlessBilling  5880 non-null   object
 17  PaymentMethod     5880 non-null   object
 18  MonthlyCharges    5880 non-null   float64
 19  TotalCharges      5880 non-null   float64
 20  Churn             5880 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 964.8+ KB

In [4]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    5880.000000  5880.000000     5880.000000   5880.000000
mean        0.500680    36.549150       70.157779   2566.813165
std         0.500042    20.909674       28.804615   1910.017743
min         0.000000     1.000000       20.000000     20.030000
25%         0.000000    18.000000       45.717500   1020.217500
50%         1.000000    37.000000       70.155000   2136.445000
75%         1.000000    55.000000       95.457500   3767.665000
max         1.000000    72.000000      119.990000   8589.600000

In [5]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64